*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    transition: all .3s ease-in-out 0s;
    /* border: 1px solid black;   */
}
html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: monospace;
    font-size: 16px;
    scroll-behavior: smooth;
    background-image: url('https://img.freepik.com/vetores-premium/pixel-art-ceu-noturno-espaco-estrelado-com-estrelas-cadentes-jogo-de-video-pixelado-de-8-bits-galaxia-sem-costura-fundo-vetorial_229548-3339.jpg');
    background-size: cover;
}
header{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #D9B516, #3838b3);
    color: #f0f0f0;
    border-radius: 20px;
    margin:5%;
    padding: 3%;
}
header img{
    width: 100px;
    margin-right: 3%;
}
.box{
    width: 80%;
    min-width: 600px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #D9B516, #3838b3);
    color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #333;
}
.box h1,.box_res h1{
    margin: 2%;
}
.box_res{
    width: auto;
    padding: 2%;
    margin-top: 5%;
    flex-flow: column nowrap;
    display: none;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #D9B516, #3838b3);
    color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #333;
}
.box_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2%;
    background-color:#f0f0f0;
    border-radius: 0 0 20px 20px;
}
form{
    width:90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.insert{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02023f;
}

.insert p{
    font-size: 3em;
}

input{
    width:50%;
    height: 4em;
    margin: 1% 1.5% 1% 0;
    padding: 1%;
    border-radius: 10px;
    font-family: monospace;
    color: #02023f;
}

input.exp{
    width:6.5%;
    height: 2em;
    margin: 1% 0;
    padding: 0.5%;
    border-radius: 5px;
    font-family: monospace;
    color: #02023f;
    position: relative;
    top: -0.5em;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.buttons a{
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0;
}
.button{
    width:40%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    font-size: 18pt;
    cursor: pointer;
}
.full_button{
    width:80%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    border-radius: 10px;
    font-size: 18pt;
    cursor: pointer;
}
a > .button, a > .full_button{
    width: 100%;
    margin: 0;
}
.button:hover, .button:focus, .full_button:hover, .full_button:focus{
    transform: translateY(-0.2em);
}
.blue{
    color: #fff;
    background-color:#0c0c6f;
}
.blue:hover, .blue:focus{
    color: #0c0c6f;
    background-color:  #fff;
    box-shadow: 
        0.02em 0.02em 24px #3838b3,
        0.02em 0.02em 24px #3838b3,
        0.02em 0.02em 24px #3838b3,
        0.02em 0.02em 24px #3838b3;
    transform: translateY(-0.2em);
}
.yellow{
    color: #fff;
    background-color:#8C7300;
}
.yellow:hover, .yellow:focus{
    color: #8C7300;
    background-color:  #fff;
    box-shadow: 
        0.02em 0.02em 24px #D9B516,
        0.02em 0.02em 24px #D9B516,
        0.02em 0.02em 24px #D9B516,
        0.02em 0.02em 24px #D9B516;
}
@keyframes pulo{
    0%{
        transform: translateY(0);
    }
    8%{
        transform:  translateY(-.2em);
    }
    16%{
        transform: translateY(-.4em)
    }
    24%{
        transform: translateY(-.6em);
    }
    32%{
        transform: translateY(-.4em);
    }
    40%{
        transform: translateY(-.2em);
    }
    48%{
        transform: translateY(0);
    }
    56%{
        transform: translateY(.2em);
    }
    64%{
        transform: translateY(.4em);
    }
    72%{
        transform: translateY(.6em);
    }
    80%{
        transform: translateY(.4em);
    }
    88%{
        transform: translateY(.2em);
    }
    100%{
        transform: translateY(0);
    }
}

